main
[{"id":"ff42afff.3dec7","type":"take-picture","z":"5a7c2d8d.481f94","name":"","x":1130,"y":220,"wires":[["82851e2b.a4ed1","cde5831b.abe0e","182b5c0a.414294","d890de1b.af4a5","32bbcf66.5d38d"]]},{"id":"15285bf9.c4df24","type":"debug","z":"5a7c2d8d.481f94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1650,"y":220,"wires":[]},{"id":"82851e2b.a4ed1","type":"image","z":"5a7c2d8d.481f94","name":"","width":160,"data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":1740,"y":280,"wires":[]},{"id":"80fc8e8f.ac67b","type":"camera-open","z":"5a7c2d8d.481f94","direction":"front","name":"","preview":"enable","x":640,"y":220,"wires":[["38c6587e.2874b8","40c6e4b3.208bbc"]]},{"id":"38c6587e.2874b8","type":"debug","z":"5a7c2d8d.481f94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":830,"y":180,"wires":[]},{"id":"dd5ea4d1.b28618","type":"ui_text_input","z":"5a7c2d8d.481f94","name":"Input email","label":"email address for receipt","tooltip":"","group":"5807c4d6.59a29c","order":1,"width":0,"height":0,"passthru":false,"mode":"email","delay":"0","topic":"email","x":130,"y":140,"wires":[["cbffedce.8794e","f7d46e98.8f7a7"]]},{"id":"f7d46e98.8f7a7","type":"ui_button","z":"5a7c2d8d.481f94","name":"","group":"5807c4d6.59a29c","order":3,"width":"7","height":"1","passthru":false,"label":"I need receipt","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":200,"y":180,"wires":[["fb656f04.a91ca","f2a7a136.b631a"]]},{"id":"4a7c0fb.0bf82f","type":"camera-close","z":"5a7c2d8d.481f94","name":"","x":1480,"y":220,"wires":[["15285bf9.c4df24"]]},{"id":"690d2e1.18c46d","type":"delay","z":"5a7c2d8d.481f94","name":"","pauseType":"delay","timeout":"0","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":980,"y":220,"wires":[["ff42afff.3dec7"]]},{"id":"cde5831b.abe0e","type":"delay","z":"5a7c2d8d.481f94","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1300,"y":220,"wires":[["4a7c0fb.0bf82f"]]},{"id":"fb656f04.a91ca","type":"change","z":"5a7c2d8d.481f94","name":"save msg.email","rules":[{"t":"set","p":"email","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":180,"wires":[["80fc8e8f.ac67b","8a770109.2e3e2","8f236512.ac1638"]]},{"id":"182b5c0a.414294","type":"debug","z":"5a7c2d8d.481f94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1290,"y":180,"wires":[]},{"id":"cbffedce.8794e","type":"debug","z":"5a7c2d8d.481f94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":390,"y":140,"wires":[]},{"id":"8a770109.2e3e2","type":"debug","z":"5a7c2d8d.481f94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":630,"y":180,"wires":[]},{"id":"7fa24537.b5992c","type":"debug","z":"5a7c2d8d.481f94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":430,"y":260,"wires":[]},{"id":"989a2b26.6bfb68","type":"function","z":"5a7c2d8d.481f94","name":"no email","func":"msg.email = \"\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":220,"wires":[["80fc8e8f.ac67b","8f236512.ac1638"]]},{"id":"f2a7a136.b631a","type":"function","z":"5a7c2d8d.481f94","name":"clean email","func":"msg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":40,"wires":[["dd5ea4d1.b28618"]]},{"id":"e20316fe.1f6388","type":"debug","z":"5a7c2d8d.481f94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":630,"y":320,"wires":[]},{"id":"b5c1f073.da8f7","type":"http request","z":"5a7c2d8d.481f94","name":"","method":"POST","ret":"obj","paytoqs":"body","url":"http://3.113.230.18:1880/SmartFridge","tls":"","persist":false,"proxy":"","authType":"","x":650,"y":360,"wires":[["96248b34.ca1758","26e92bf9.820ef4","791a7214.58dedc","18e0a883.b06f47"]]},{"id":"96248b34.ca1758","type":"debug","z":"5a7c2d8d.481f94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":790,"y":460,"wires":[]},{"id":"d890de1b.af4a5","type":"function","z":"5a7c2d8d.481f94","name":"make payload","func":"//msg.headers = { \"content-type\": \"multipart/form-data;\" }\nvar get_email = \"\";\n\nif (msg.email.search(\"@\") > 0){\n    get_email = msg.email;\n} else {\n    get_email = \"no_email\";\n    }\n\nmsg.payload = {\n    email: get_email,\n    storecode: \"SF000\",\n    time: msg.time,\n    file: msg.payload\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":360,"wires":[["e20316fe.1f6388","b5c1f073.da8f7"]]},{"id":"40c6e4b3.208bbc","type":"function","z":"5a7c2d8d.481f94","name":"make time","func":"var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours() + \":\" + today.getMinutes() + \":\" + today.getSeconds();\nvar ti = date+' '+time;\n\nmsg.time = ti;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":220,"wires":[["690d2e1.18c46d"]]},{"id":"2ef7d8b7.745798","type":"text-to-speech","z":"5a7c2d8d.481f94","name":"","x":1000,"y":360,"wires":[["e8a7f5a7.4d8eb8","1042ddfa.9d9822"]]},{"id":"26e92bf9.820ef4","type":"function","z":"5a7c2d8d.481f94","name":"speak","func":"\n\nmsg.payload = {\n    \"text\": msg.payload.CustomerName,\n    \"lang\": \"en-US\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":360,"wires":[["2ef7d8b7.745798"]]},{"id":"e8a7f5a7.4d8eb8","type":"volume-set","z":"5a7c2d8d.481f94","name":"","volume":"100","target":"music","x":1190,"y":360,"wires":[["d57a9bc.2c52b68"]]},{"id":"1042ddfa.9d9822","type":"debug","z":"5a7c2d8d.481f94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1150,"y":320,"wires":[]},{"id":"d57a9bc.2c52b68","type":"debug","z":"5a7c2d8d.481f94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1350,"y":360,"wires":[]},{"id":"32bbcf66.5d38d","type":"template","z":"5a7c2d8d.481f94","name":"prepare photo","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img width=\"400px\" height=\"640px\" src=\"data:image/jpg;base64,{{{payload}}}\">","output":"str","x":1320,"y":100,"wires":[["4bb226f8.cef5b8"]]},{"id":"4bb226f8.cef5b8","type":"ui_template","z":"5a7c2d8d.481f94","group":"5807c4d6.59a29c","name":"dashboard photo","order":5,"width":14,"height":14,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1550,"y":100,"wires":[[]]},{"id":"791a7214.58dedc","type":"function","z":"5a7c2d8d.481f94","name":"Add word to scrolling table","func":"let pay = msg.payload.Time + \" \" + msg.payload.CustomerName;\n\n// Read scrolling table from context\nlet sctab = flow.get(\"sctab\") || [];\n\n// Modify scrolling table by adding msg.payload as first element\nlet size = sctab.unshift(pay);\n\n// Remove last element from scrolling table\nif (size >9) sctab.pop();\n\n// Update context for scrolling text\nflow.set(\"sctab\",sctab);\n\n// Shalow copy updated scrolling table to msg.payload\nmsg.payload = [...sctab];\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":440,"wires":[["63dcbe72.a2372"]]},{"id":"63dcbe72.a2372","type":"ui_template","z":"5a7c2d8d.481f94","group":"5807c4d6.59a29c","name":"scrolling text","order":6,"width":12,"height":6,"format":"<style>\n\n    #tex1 {\n        font-weight:normal;\n        font-size: 10;\n        letter-spacing: 4px;\n        fill: black;\n    }\n    \n    #tex2 {\n        font-weight:normal;\n        font-size: 10;\n        letter-spacing: 4px;\n        fill: red;\n    }\n    \n</style>\n\n\n<svg height=\"300\" width=\"700\" >\n\n<text id=\"tex1\" x=\"10\" y=\"30\" > {{msg.payload[0]}} </text>\n<text id=\"tex2\" x=\"20\" y=\"50\" > {{msg.payload[1]}} </text>\n<text id=\"tex2\" x=\"20\" y=\"70\" > {{msg.payload[2]}} </text>\n<text id=\"tex2\" x=\"20\" y=\"90\" > {{msg.payload[3]}} </text>\n<text id=\"tex2\" x=\"20\" y=\"110\" > {{msg.payload[4]}} </text>\n<text id=\"tex2\" x=\"20\" y=\"120\" > {{msg.payload[5]}} </text>\n<text id=\"tex2\" x=\"20\" y=\"150\" > {{msg.payload[6]}} </text>\n<text id=\"tex2\" x=\"20\" y=\"170\" > {{msg.payload[7]}} </text>\n<text id=\"tex2\" x=\"20\" y=\"190\" > {{msg.payload[8]}} </text>\n<text id=\"tex2\" x=\"20\" y=\"210\" > {{msg.payload[9]}} </text>\n</svg>\n\n","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":1310,"y":440,"wires":[[]]},{"id":"8f236512.ac1638","type":"function","z":"5a7c2d8d.481f94","name":"make sound","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":100,"wires":[["3ae50f5a.1bf4"]]},{"id":"3ae50f5a.1bf4","type":"beep","z":"5a7c2d8d.481f94","name":"","x":770,"y":100,"wires":[[]]},{"id":"819f00dc.c9081","type":"function","z":"5a7c2d8d.481f94","name":"make email","func":"msg.to = \"angus@smartretail.co\";\nmsg.topic = \"receipt from SmartRetail\";\nmsg.header = \"testing\";\nmsg.payload = {\n    content: msg.payload.CustomerName\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1190,"y":500,"wires":[["6b1c0ca2.512bb4","59cdd1c0.e8c75"]]},{"id":"18e0a883.b06f47","type":"switch","z":"5a7c2d8d.481f94","name":"email exist","property":"email","propertyType":"msg","rules":[{"t":"cont","v":"@","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":970,"y":500,"wires":[["819f00dc.c9081","bdf073fe.81524"],["72780cb0.151224"]]},{"id":"6b1c0ca2.512bb4","type":"debug","z":"5a7c2d8d.481f94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1450,"y":600,"wires":[]},{"id":"dd08a36f.f85bf","type":"comment","z":"5a7c2d8d.481f94","name":"mail server information","info":"account: smartfridgebysmartretail@gmail.com\npassword: smartretail\nport : 465","x":1210,"y":620,"wires":[]},{"id":"bdf073fe.81524","type":"debug","z":"5a7c2d8d.481f94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1170,"y":540,"wires":[]},{"id":"72780cb0.151224","type":"debug","z":"5a7c2d8d.481f94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1170,"y":580,"wires":[]},{"id":"59cdd1c0.e8c75","type":"e-mail","z":"5a7c2d8d.481f94","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"","dname":"","x":1370,"y":500,"wires":[]},{"id":"3995404b.583b8","type":"ui_button","z":"5a7c2d8d.481f94","name":"no receipt","group":"5807c4d6.59a29c","order":4,"width":"7","height":"1","passthru":false,"label":"I don't need receipt","tooltip":"","color":"red","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":200,"y":220,"wires":[["989a2b26.6bfb68"]]},{"id":"5807c4d6.59a29c","type":"ui_group","name":"SmartFridge","tab":"db0bd614.6f4018","order":1,"disp":true,"width":14,"collapse":false},{"id":"db0bd614.6f4018","type":"ui_tab","name":"SmartRetail","icon":"dashboard","disabled":false,"hidden":false}]
